<!DOCTYPE html>
<html>
    <head>
        <title>Photo of the Day</title>
        <style type="text/css">
            h1 {text-align: center;}
            p {margin: 0 5em;}
            figure {text-align: center;}
        </style>
    </head>
    <body>
        <h1>{{ p.title }}</h1>
        <figure>
            <img src="{{ p.url }}" />
            <figcaption>Taken by <u>{{ p.copyright }}</u>, selected {{ p.date }}</figcaption>
        </figure>
        <p>{{ p.explanation }}</p>
    </body>
</html>